body {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: rgb(236,236,236);
  height: 1200px;
  font-family: Arial;
}

#navbar {
  width: 100%;
  height: 75px;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  display: block;
  font-size: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(100,148,206);
  background-color: rgb(40,44,52);
  position: fixed;
  z-index: 2;
}

#logo {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 75px;
  line-height: 75px;
  color: white;
  font-size: 14pt;
  font-family: Arial;
  text-align: center;
  font-size: 20pt;
  color: white;
}

#logo > #drugs {
  color: rgb(100,148,206);
}

#search-input {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 75px;
  line-height: 75px;
  width: 50%;
  color: black;
}

#search-string {
  transform: translateY(40%);
  width: 80%;
  font-size: 12pt;
  padding-left: 10px;
  background-color: rgb(236,236,236);
}

#search {
  position: relative;
  display: inline-block;
  transform: translateY(40%);
  color: white;
  font-size: 14pt;
  background-color: rgb(100,148,206);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: none;
}

#menu {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 75px;
  line-height: 75px;
  color: white;
  font-size: 12pt;
  width: 12.5%;
  text-align: right;
}

#menu > i {
  transform: translateY(20%);
}

#menu-bar {
  position: fixed;
  top: 76px;
  right: 0;
  max-width: 25%;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  opacity: .9;
  z-index: 2;
}

#menu-bar > div {
  display: block;
  font-size: 12pt;
  letter-spacing: 2px;
  color: gray;
  text-transform: uppercase;
  width: 100%;
  height: 1em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: gray;
  padding: 15px;
}

.lit {
  background-color: rgba(100,148,206,.3);
}

#cart {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 75px;
  width: 12%;
  text-align: center;
}

#cart > div {
  display: block;
  margin: auto;
  border-style: solid;
  border-color: rgb(100,148,206);
  border-width: 2px;
  border-radius: 5px;
  width: 50%;
  height: 60%;
  transform: translateY(25%);
}

#cart > span {
  color: white;
  font-size: 14pt;
}

#view-cart {
  position: relative;
  color: white;
  background-color: rgb(40,44,52);
  width: 50px;
  padding: 0;
  font-size: 18pt;
}

#cart-qty {
  color: white;
  font-size: 12pt;
}

#search-string {
  display: inline-block;
  border-style: solid;
  border-color: rgb(100,148,206);
  border-width: 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 20px;
}

#product-list {
  top: 75px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  background-color: rgb(236,236,236);
  color: black;
  font-family: Arial;
}

.data-element {
  margin-top: 15px;
  position: relative;
  display: block;
  border-bottom-style: solid;
  border-bottom-color: rgba(40,44,52,.3);
  border-bottom-width: 1px;
}

#product-name {
  padding-left: 10px;
  font-size: 14pt;
  font-weight: bold;
  color: rgb(60,64,82);
}

#product-description {
  font-style: italic;
  padding-left: 10px;
}

li {
  list-style-type: none;
}

.product-images {
  position: relative;
  display: inline-block;
  left: 0;
  top: 0;
  bottom: 0;
  width: 150px;
  height: 100px;
  margin: auto;
}

.product-images > img {
  max-width: 150px;
  height: auto;
}

.product-details {
  position: relative;
  display: inline-block;
  padding-left: 10px;
}

.add-to-cart {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 40px;
  margin: auto;
}

.remove-from-cart {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 25px;
  margin: auto;
  background-color: rgba(205,32,33,.5);
}

.item-qty {
  display: block;
  position: absolute;
  right: 0;
  bottom: 15px;
}

.item-added {
  background-color: rgb(100,148,206);
  color: white;
}

#my-cart {
  position: relative;
  width: 96%;
  margin: auto;
  top: 75px;
  height: 500px;
}

#title {
  width: 100%;
  height: 50px;
  position: relative;
  text-align: center;
  color: black;
}

#title > span {
  font-size: 20pt;
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
}

#cart-items {
  display: block;
  position: absolute;
  width: 75%;
}

#cart-summary {
  display: block;
  position: absolute;
  right: 0;
  width: 20%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(40,44,52);
  border-radius: 15px;
  background-color: lightgray;
}

#cart-summary > span {
  display: block;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 2px;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(100,148,206);
  background-color: rgb(40,44,52);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: white;
}

#checkout-button {
  text-align: center;
  position: relative;
  display: block;
  width: 80%;
  margin: auto;
  bottom: 0;
  padding: 5px;
  font-size: 10pt;
  background-color: rgb(40,44,52);
  border-radius: 5px;
  border-color: rgb(100,148,206);
  border-width: 1px;
  color: white;
  bottom: 5px;
}

#order-details > span {
  display: block;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.hidden {
  display: none;
}

#item-qty-added-to-cart {
  position: absolute;
  bottom: 20px;
  right: 0;
  color: darkred;
  font-size: 10pt;
  text-align: right;
}

#checkout-container {
  position: relative;
  width: 100%;
  top: 75px;
  height: 100%;
  background: lightgray;
}

#checkout-page {
  position: absolute;
  background-color: rgba(40,44,52,0);
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

#checkout-page-title {
  color: white;
  max-width: 90%;
  margin: auto;
  font-size: 20pt;
  text-align: left;
  padding: 20px;
}

#checkout-page-title > span > span {
  color: rgb(100,148,206);
}

#place-your-order {
  position: relative;
  width: 96%;
  bottom: 0;
  text-align: right;
  margin: 10px;
}

#place-your-order > button {
  font-size: 12pt;
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(100,148,206);
  background-color: rgb(40,44,52);
  color: white;
}

.checkout-form-container {
  width: 90%;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 3px;
  background-color: lightgray;
  font-size: 10pt;
  color: rgb(40,44,52);
}

.checkout-form-container > form {
  padding: 10px;
}

form > div {
  margin-top: 10px;
}

form > div > div {
  padding-top: 5px;
  padding-bottom: 5px;
}

#checkout-order-summary-container {
  width: 90%;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  border-radius: 3px;
  background-color: lightgray;
  font-size: 10pt;
  color: rgb(40,44,52);
  margin-bottom: 5%;
}

#order-summary {
  background-color: rgb(40,44,52);
  text-align: center;
  padding: 15px;
}

#order-summary > div {
  display: inline-block;
  position: relative;
  width: 18%;
  color: white;
}

#order-summary > div > .heading {
  padding: 10px;
  color: lightgray;
  font-size: 16pt;
}

#order-summary > div > .payload {
  padding: 10px;
  background-color: lightgray;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  font-size: 12pt;
  color: rgb(100,148,206);
}
