html {
  height: 100vh;
}

body {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: rgb(236,236,236);
  min-height: 100vh;
  font-family: Arial;
}

#navbar {
  width: 100%;
  height: 10vmin;
  top: 0;
  margin-bottom: 1vmin;
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(100,148,206);
  background-color: rgb(40,44,52);
  position: fixed;
  z-index: 2;
}

#logo {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  max-width: 25%;
  min-width: 10%;
  height: 100%;
  line-height: 100%;
  color: white;
  font-size: 3.5vmin;
  font-family: Arial;
  color: white;
}

#logo > span {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 1.5vw;
}

#logo > span > #drugs {
  color: rgb(100,148,206);
}

#search-input {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
  color: black;
  padding-left: 1.5vw;
  margin: 0;
}

#search-string {
  width: 80%;
  font-size: 2vmin;
  padding-left: 1vw;
  border-style: solid;
  border-color: rgb(100,148,206);
  border-width: 1px;
  border-top-left-radius: 1.5vmin;
  border-bottom-left-radius: 1.5vmin;
  background-color: rgb(236,236,236);
}

#search {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 2.4vmin;
  background-color: rgb(100,148,206);
  border-top-right-radius: 1.5vmin;
  border-bottom-right-radius: 1.5vmin;
  border-style: none;
}

#menu {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10vw;
  color: white;
  font-size: 2vmin;
  width: auto;
}

#cart {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  padding-left: 3vw;
}

#view-cart {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgb(40,44,52);
  border-style: solid;
  border-color: rgb(100,148,206);
  border-width: .3vw;
  border-radius: 1vmin;
}

#cart-icon {
  display: flex;
  color: white;
  font-size: 2.5vmin;
  padding-top: .5vmin;
  padding-left: 1vmin;
  padding-right: 1vmin;
}

#cart-qty {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.5vmin;
  padding: .5vmin;
}

#menu-bar {
  position: fixed;
  top: 10vmin;
  right: 0;
  max-width: 25%;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  opacity: .95;
  z-index: 2;
}

#menu-bar > div {
  display: block;
  font-size: 2vmin;
  letter-spacing: .2vmin;
  color: gray;
  text-transform: uppercase;
  width: 100%;
  height: 3vmin;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: gray;
  padding: 1.5vmin;
}

.lit {
  background-color: rgba(100,148,206,.3);
}

#preview-container > div.lit {
  background-color: rgba(100,148,206,1);
  color: white;
}

#product-list {
  top: 10.5vmin;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  background-color: rgb(236,236,236);
  color: black;
  font-family: Arial;
}

.data-element {
  margin-top: 1vmin;
  position: relative;
  display: block;
  border-bottom-style: solid;
  border-bottom-color: rgba(40,44,52,.3);
  border-bottom-width: 1px;
}

#add-to-cart-button {
  font-size: 3vmin;
}

.product-name {
  padding-left: 1vw;
  font-size: 2vmin;
  font-weight: bold;
  color: rgb(60,64,82);
}

.product-description {
  font-style: italic;
  padding-left: 1.5vmin;
  font-size: 1.5vmin;
}

li {
  list-style-type: none;
  font-size: 1.5vmin;
}

.product-images {
  position: relative;
  display: inline-block;
  left: 0;
  top: 0;
  bottom: 0;
  width: auto;
  height: auto;
  margin: auto;
}

.product-images > img {
  max-width: 15vmin;
  height: auto;
}

.product-details {
  position: relative;
  display: inline-block;
  padding-left: 1vw;
  width: 70%;
}

.product-details > p {
  margin-bottom: 0;
}

.product-details > ul {
  padding-left: 2vmin;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

.add-to-cart {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 3.5vmin;
  margin: auto;
  font-size: 2vmin;
}

#remove-from-cart-button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 2.5vmin;
  font-size: 1.5vmin;
  font-style: Calibri;
  font-weight: bold;
  margin: auto;
  background-color: darkred;
  color: lightgray;
  opacity: .6;
}

.item-qty {
  display: block;
  position: absolute;
  right: 0;
  bottom: 1vh;
  font-size: 1.5vmin;
}

.item-added {
  background-color: rgb(100,148,206);
  color: white;
}

#my-cart {
  position: relative;
  width: 96%;
  margin: auto;
  top: 11vmin;
  height: auto;
}

#title {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  color: black;
}

#title > span {
  font-size: 4vmin;
  display: block;
  position: relative;
  width: 100%;
  height: 50%;
  top: 50%;
}

#cart-items {
  position: absolute;
  margin-top: 3vmin;
  margin-right: 0;
  width: 75%;
}

#cart-summary {
  display: block;
  position: absolute;
  margin-top: 4vmin;
  right: 0;
  width: 22.5%;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 1vmin;
  background-color: lightgray;
}

#cart-summary > span {
  display: block;
  margin: auto;
  padding-top: .5vmin;
  padding-bottom: .5vmin;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
  background-color: rgb(40,44,52);
  border-top-right-radius: 1vmin;
  border-top-left-radius: 1vmin;
  color: white;
  font-size: 2vmin;
}

#order-details > span {
  display: block;
  padding: 1.5vmin;
  font-size: 2vmin;
}

#checkout-button {
  text-align: center;
  position: relative;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vmin;
  padding: .75vmin;
  font-size: 1.5vmin;
  background-color: rgb(40,44,52);
  border-radius: .5vmin;
  border-color: white;
  border-width: 1px;
  color: white;
  bottom: 1vmin;
}

.hidden {
  display: none;
}

#item-qty-added-to-cart {
  position: absolute;
  bottom: 2vmin;
  right: 0;
  color: darkred;
  font-size: 1.5vmin;
  text-align: right;
}

#checkout-container {
  position: relative;
  width: 100%;
  top: 10vmin;
  height: 100vh;
  background: lightgray;
}

#checkout-page {
  position: absolute;
  background-color: rgba(40,44,52,0);
  top: 3vmin;
  width: 80vw;
  left: 10vw;
  height: auto;
  border-radius: 2vmin;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

#checkout-page-title {
  color: white;
  max-width: 90%;
  margin: auto;
  font-size: 3vmin;
  text-align: left;
  padding: 2vmin;
}

#checkout-page-title > span > span {
  color: rgb(100,148,206);
}

#order-form > div div {
  font-size: 2vmin;
}

#order-form > div label {
  font-size: 1.5vmin;
}

#order-form > div input {
  font-size: 1.5vmin;
}

#place-your-order {
  position: relative;
  width: 96%;
  bottom: 0;
  text-align: right;
  margin: 1vmin;
}

#place-your-order > button {
  font-size: 1.5vmin;
  padding: 1vmin;
  border-style: solid;
  border-radius: .5vmin;
  border-width: 2px;
  border-color: rgb(100,148,206);
  background-color: rgb(40,44,52);
  color: white;
}

.checkout-form-container {
  width: 90%;
  margin: auto;
  margin-bottom: 3vmin;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: .3vmin;
  background-color: lightgray;
  font-size: 1vmin;
  color: rgb(40,44,52);
}

.checkout-form-container > form {
  padding: 1vmin;
}

form > div {
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

form > div > div {
  padding-top: .5vmin;
  padding-bottom: .5vmin;
}

#checkout-order-summary-container {
  width: 90%;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  border-radius: 3px;
  background-color: lightgray;
  font-size: 1vmin;
  color: rgb(40,44,52);
  margin-bottom: 5%;
}

#order-summary {
  background-color: rgb(40,44,52);
  text-align: center;
  padding: 1.5vmin;
}

#order-summary > div {
  display: inline-block;
  position: relative;
  width: 18%;
  color: white;
}

#order-summary > div > .heading {
  padding: 1vmin;
  color: lightgray;
  font-size: 2vmin;
}

#order-summary > div > .payload {
  padding: 1vmin;
  background-color: lightgray;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  font-size: 1.8vmin;
  color: rgb(100,148,206);
}

#preview-container {
  display: block;
  position: fixed;
  z-index: 3;
  top: 7vmin;
  left: 25vw;
  height: auto;
  width: auto;
  max-width: 50%;
  color: gray;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

#preview-container > div {
  display: block;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  font-size: 1.5vmin;
  letter-spacing: .2vmin;
  padding: 1vmin;
}
